static/source/jade/html/pages/fullsport__delivery-ok.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.delivery-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Спасибо за заказ

        h3 Спасибо за заказ

        p.checkout-ok Выражаем благодарность за доверие к нашему магазину и предлагаем вам поделиться этим в социальных сетях

        .yashare-auto-init(data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter" data-yasharetitle="Заголовок страницы" data-yasharelink="http://link.ru" data-yasharedescription="Описание товара при необходимости" data-yashareimage="http://fullspot-russia.ru/images/stories/catalog/obag-handles/SetSize268360-nappine-marroni3.jpg")
        script(type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8")

static/html/pages/fullsport__delivery-ok.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content delivery-content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>Спасибо за заказ</span></li>
        </ul>
        <h3>Спасибо за заказ</h3>
        <p class="checkout-ok">Выражаем благодарность за доверие к нашему магазину и предлагаем вам поделиться этим в социальных сетях</p>
        <div data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter" data-yasharetitle="Заголовок страницы" data-yasharelink="http://link.ru" data-yasharedescription="Описание товара при необходимости" data-yashareimage="http://fullspot-russia.ru/images/stories/catalog/obag-handles/SetSize268360-nappine-marroni3.jpg" class="yashare-auto-init"></div>
        <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>
