static/source/jade/html/pages/fullsport__has-registration.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.registration-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        h3 Регистрация

        .justifyed
            .has-registration
                h2 Вход на сайт

                span.title Войти через соц.сети

                ul.social
                    li
                        a(href ="/static/js/ajax/has-registration.php")
                            img(src = "/static/img/social-vk.png")
                            span Вконтакте
                    li
                        a(href = "#")
                            img(src = "/static/img/social-ml.png")
                            span МойМир
                    li
                        a(href = "#")
                            img(src = "/static/img/social-fb.png")
                            span Facebook
                    li
                        a(href = "#")
                            img(src = "/static/img/social-gl.png")
                            span Google+

                form(action = "/static/js/ajax/has-registration.php" method = "post").mail-form
                    label
                        span Телефон или e-mail
                        input(placeholder = "Начните ввод..." name = "name" type = "text").form-input.required
                    label
                        span Пароль
                        input(placeholder = "Начните ввод..." name = "password" type = "password").form-input.required
                    label
                        input(type = "checkbox" name = "login_remember").input-checkbox
                        span Запомнить меня
                    a.form-submit.btn.js-form-submit Отправить
                    span.error-message.hidden-block Такая комбинация логина и пароля не найдена. Пожалуйста, проверьте правильность ввода

                .link
                    a(href = "#") Забыли пароль?
                .link
                    a(href = "#") Регистрация

            .benefit
                h2 Купить без регистрации

                ul.benefit-list
                    li На минуту быстрее, но вы не сможете получать бонусы за покупки
                    li Рискуете пропустить распродажи и не успеть купить модные новинки
                    li Придется заново указывать контактную информацию и адрес доставки

                a(href="#").btn.benefit-btn Продолжить

static/html/pages/fullsport__has-registration.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content registration-content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>О bag</span></li>
        </ul>
        <h3>Регистрация</h3>
        <div class="justifyed">
          <div class="has-registration">
            <h2>Вход на сайт</h2><span class="title">Войти через соц.сети</span>
            <ul class="social">
              <li><a href="/static/js/ajax/has-registration.php"><img src="/static/img/social-vk.png"><span>Вконтакте</span></a></li>
              <li><a href="#"><img src="/static/img/social-ml.png"><span>МойМир</span></a></li>
              <li><a href="#"><img src="/static/img/social-fb.png"><span>Facebook</span></a></li>
              <li><a href="#"><img src="/static/img/social-gl.png"><span>Google+</span></a></li>
            </ul>
            <form action="/static/js/ajax/has-registration.php" method="post" class="mail-form">
              <label><span>Телефон или e-mail</span>
                <input placeholder="Начните ввод..." name="name" type="text" class="form-input required">
              </label>
              <label><span>Пароль</span>
                <input placeholder="Начните ввод..." name="password" type="password" class="form-input required">
              </label>
              <label>
                <input type="checkbox" name="login_remember" class="input-checkbox"><span>Запомнить меня</span>
              </label><a class="form-submit btn js-form-submit">Отправить</a><span class="error-message hidden-block">Такая комбинация логина и пароля не найдена. Пожалуйста, проверьте правильность ввода</span>
            </form>
            <div class="link"><a href="#">Забыли пароль?</a></div>
            <div class="link"><a href="#">Регистрация</a></div>
          </div>
          <div class="benefit">
            <h2>Купить без регистрации</h2>
            <ul class="benefit-list">
              <li>На минуту быстрее, но вы не сможете получать бонусы за покупки</li>
              <li>Рискуете пропустить распродажи и не успеть купить модные новинки</li>
              <li>Придется заново указывать контактную информацию и адрес доставки</li>
            </ul><a href="#" class="btn benefit-btn">Продолжить</a>
          </div>
        </div>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>
