static/html/pages/fullsport__registration.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content registration-content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>О bag</span></li>
        </ul>
        <h3>Регистрация</h3>
        <div class="justifyed">
          <div class="registration">
            <h2>Регистрация займет не более минуы</h2>
            <form action="/static/js/ajax/send-form.php" method="post" class="mail-form">
              <label><span>Имя<i>*</i></span>
                <input type="text" name="name" placeholder="Начните ввод..." class="form-input required">
              </label>
              <label><span>Фамилия</span>
                <input type="text" name="second_name" placeholder="Начните ввод..." class="form-input">
              </label>
              <label><span>Телефон<i>*</i></span>
                <input type="text" name="phone" placeholder="Начните ввод..." class="form-input required input-phone">
              </label>
              <label><span>E-mail<i>*</i></span>
                <input type="text" name="mail" placeholder="Начните ввод..." class="form-input required input-mail">
              </label>
              <label><span>Дата рождения</span>
                <input type="text" name="birthday" placeholder="Начните ввод..." class="form-input input-birthday">
              </label><span><i>*</i>-  отмечены поля для обязательного заполнения</span><a class="btn js-form-submit">Загеристрироваться</a>
            </form>
          </div>
          <div class="benefit">
            <h2>Преимущества регистрации</h2>
            <ul class="benefit-list">
              <li>Получайте бонусы и скидки</li>
              <li>Экономьте время и деньги на следующих покупках</li>
              <li>Узнавайте об акциях, распродажах и поступлении новых коллекций</li>
            </ul>
          </div>
        </div>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>

static/source/jade/html/pages/fullsport__registration.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.registration-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        h3 Регистрация

        .justifyed
            .registration
                h2 Регистрация займет не более минуы

                form(action="/static/js/ajax/send-form.php" method="post").mail-form
                    label
                        span Имя
                            i *
                        input(type="text" name="name" placeholder="Начните ввод...").form-input.required
                    label
                        span Фамилия
                        input(type="text" name="second_name" placeholder="Начните ввод...").form-input
                    label
                        span Телефон
                            i *
                        input(type="text" name="phone" placeholder="Начните ввод...").form-input.required.input-phone
                    label
                        span E-mail
                            i *
                        input(type="text" name="mail" placeholder="Начните ввод...").form-input.required.input-mail
                    label
                        span Дата рождения
                        input(type="text" name="birthday" placeholder="Начните ввод...").form-input.input-birthday
                    span
                        i *
                        | -  отмечены поля для обязательного заполнения
                    a.btn.js-form-submit Загеристрироваться

            .benefit
                h2 Преимущества регистрации

                ul.benefit-list
                    li Получайте бонусы и скидки
                    li Экономьте время и деньги на следующих покупках
                    li Узнавайте об акциях, распродажах и поступлении новых коллекций
