static/html/pages/fullsport__delivery.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content delivery-content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>О bag</span></li>
        </ul>
        <h3>Оформление заказа</h3>
        <form action="" method="post" class="form-delivery mail-form">
          <div class="form-delivery__customer">
            <h2>Информация о покупателе</h2>
            <label><span>Ф.И.О.<i>*</i></span>
              <input type="text" name="name" class="form-input required">
            </label>
            <label><span>E-mail<i>*</i></span>
              <input type="text" name="mail" class="form-input required input-mail">
            </label>
            <label><span>Телефон<i>*</i></span>
              <input type="text" name="phone" class="form-input required input-phone">
            </label>
          </div>
          <div class="form-delivery__summ">
            <h2>Сумма к оплате</h2>
            <div><span class="title">Товаров на</span><span class="value">5000 руб.</span></div>
            <div><span class="title">Доставка</span><span class="value">500 руб.</span></div>
            <div class="form-delivery__summ-total"><span class="title">Итого:</span><span class="value">5500 руб.</span></div>
          </div>
          <div class="form-delivery__payment">
            <h2>Способы оплаты</h2>
            <label>
              <input type="radio" checked name="payment" value="payment_01">
              <div class="label-wrap"><img src="/static/img/icon--payment-1.jpg" class="shadow">
                <div class="label-content"><span class="title">Банковские карты</span><span>Банковский перевод любыми дебетовыми или кредитными картами.</span></div>
              </div>
            </label>
            <label>
              <input type="radio" name="payment" value="payment_02">
              <div class="label-wrap"><img src="/static/img/icon--payment-2.jpg" class="shadow">
                <div class="label-content"><span class="title">Наличными курьеру</span><span>Оплата наличными при получении заказа курьеру.</span></div>
              </div>
            </label>
          </div>
          <div class="form-delivery__type">
            <h2>Способы доставки</h2>
            <label>
              <input type="radio" checked name="delivery" value="delivery_01">
              <div class="label-wrap"><img src="/static/img/icon--delivery-1.jpg" class="shadow">
                <div class="label-content"><span class="title">Самовывоз</span><span>г. Москва, ул. Нагатинская 16, ТЦ “Конфетти”</span></div>
                <div class="label-price"><span>Стоимость</span><span>0 руб.</span></div>
              </div>
            </label>
            <label>
              <input type="radio" name="delivery" value="delivery_02">
              <div class="label-wrap"><img src="/static/img/icon--delivery-2.jpg" class="shadow">
                <div class="label-content"><span class="title">Доставка курьером</span><span>Доставка осуществляется в течение дня в удобное для вас время.</span></div>
                <div class="label-price"><span>Стоимость</span><span>500 руб.</span></div>
                <div class="label-hidden"><span>г.Москва, введите ваш адрес</span>
                  <input type="text" name="courier_adres" class="form-input">
                </div>
              </div>
            </label>
            <label>
              <input type="radio" name="delivery" value="delivery_03">
              <div class="label-wrap"><img src="/static/img/icon--delivery-3.jpg" class="shadow">
                <div class="label-content"><span class="title">Почта России</span><span>Отправка через сервис Почты России, доставка зависит от вашего региона.</span></div>
                <div class="label-price"><span>Стоимость</span><span>0 руб.</span></div>
                <div class="label-hidden">
                  <div class="label-l"><span>Индекc</span>
                    <input type="text" name="adres_index" class="form-input">
                  </div>
                  <div class="label-l"><span>Город, область</span>
                    <input type="text" name="adres_town" class="form-input">
                  </div>
                  <div class="label-l"><span>Улица</span>
                    <input type="text" name="adres_street" class="form-input">
                  </div>
                  <div class="label-s"><span>Дом</span>
                    <input type="text" name="adres_house" class="form-input"><span>Корпус</span>
                    <input type="text" name="adres_housing" class="form-input input-housing"><span>Квартира</span>
                    <input type="text" name="adres_flat" class="form-input input-flat">
                  </div>
                </div>
              </div>
            </label>
          </div>
          <div class="form-delivery__comment">
            <h2>Комментарии к заказу</h2>
            <textarea name="comment" class="form-input"></textarea>
          </div><a class="btn js-form-submit">Отправить заказ</a>
        </form>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>

static/source/jade/html/pages/fullsport__delivery.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.delivery-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        h3 Оформление заказа

        form(action="" method="post").form-delivery.mail-form
            .form-delivery__customer

                h2 Информация о покупателе

                label
                    span Ф.И.О.
                        i *
                    input(type="text" name="name").form-input.required
                label
                    span E-mail
                        i *
                    input(type="text" name="mail").form-input.required.input-mail
                label
                    span Телефон
                        i *
                    input(type="text" name="phone").form-input.required.input-phone

            .form-delivery__summ

                h2 Сумма к оплате

                div
                    span.title Товаров на
                    span.value 5000 руб.
                div
                    span.title Доставка
                    span.value 500 руб.
                .form-delivery__summ-total
                    span.title Итого:
                    span.value 5500 руб.


            .form-delivery__payment

                h2 Способы оплаты

                label
                    input(type="radio" checked name="payment" value="payment_01")
                    .label-wrap
                        img(src="/static/img/icon--payment-1.jpg").shadow
                        .label-content
                            span.title Банковские карты
                            span Банковский перевод любыми дебетовыми или кредитными картами.
                label
                    input(type="radio" name="payment" value="payment_02")
                    .label-wrap
                        img(src="/static/img/icon--payment-2.jpg").shadow
                        .label-content
                            span.title Наличными курьеру
                            span Оплата наличными при получении заказа курьеру.

            .form-delivery__type

                h2 Способы доставки

                label
                    input(type="radio" checked name="delivery" value="delivery_01")
                    .label-wrap
                        img(src="/static/img/icon--delivery-1.jpg").shadow
                        .label-content
                            span.title Самовывоз
                            span г. Москва, ул. Нагатинская 16, ТЦ “Конфетти”
                        .label-price
                            span Стоимость
                            span 0 руб.

                label
                    input(type="radio" name="delivery" value="delivery_02")
                    .label-wrap
                        img(src="/static/img/icon--delivery-2.jpg").shadow
                        .label-content
                            span.title Доставка курьером
                            span Доставка осуществляется в течение дня в удобное для вас время.
                        .label-price
                            span Стоимость
                            span 500 руб.
                        .label-hidden
                            span г.Москва, введите ваш адрес
                            input(type="text" name="courier_adres").form-input

                label
                    input(type="radio" name="delivery" value="delivery_03")
                    .label-wrap
                        img(src="/static/img/icon--delivery-3.jpg").shadow
                        .label-content
                            span.title Почта России
                            span Отправка через сервис Почты России, доставка зависит от вашего региона.
                        .label-price
                            span Стоимость
                            span 0 руб.
                        .label-hidden
                            .label-l
                                span Индекc
                                input(type="text" name="adres_index").form-input
                            .label-l
                                span Город, область
                                input(type="text" name="adres_town").form-input
                            .label-l
                                span Улица
                                input(type="text" name="adres_street").form-input
                            .label-s
                                span Дом
                                input(type="text" name="adres_house").form-input
                                span Корпус
                                input(type="text" name="adres_housing").form-input.input-housing
                                span Квартира
                                input(type="text" name="adres_flat").form-input.input-flat

            .form-delivery__comment

                h2 Комментарии к заказу

                textarea(name="comment").form-input

            a.btn.js-form-submit Отправить заказ
