static/html/pages/fullsport__bag-list.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content list-content">
        <ul class="slider shadow">
          <li><a href="#"><img src="/media/slider-1.jpg" alt></a></li>
          <li><a href="#"><img src="/media/slider-2.jpg" alt></a></li>
          <li><a href="#"><img src="/media/slider-3.jpg" alt></a></li>
        </ul>
        <h3>О bag</h3>
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>О bag</span></li>
        </ul>
        <div class="list justifyed">
          <div class="width--two-thirds">
            <ul class="product-list">
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-1.jpg" alt></div><span>Collection 1</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-2.jpg" alt></div><span>Collection 2</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-3.jpg" alt></div><span>Collection 3</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-4.jpg" alt></div><span>Collection 4</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-5.jpg" alt></div><span>Collection 5</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-6.jpg" alt></div><span>Collection 6</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-7.jpg" alt></div><span>Collection 7</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-8.jpg" alt></div><span>Ремешки</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-9.jpg" alt></div><span>Циферблаты</span></a></li>
            </ul>
            <ul class="product-list">
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-1.jpg" alt></div><span>Collection 1</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-2.jpg" alt></div><span>Collection 2</span></a></li>
              <li class="product-list__el"><a>
                  <div class="product-list__el-img shadow"><img src="/media/index-list-3.jpg" alt></div><span>Collection 3</span></a></li>
              <li class="product-list__el"></li>
            </ul>
            <h4>O`Bag</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h4>Философия FULLSPORT RUSSIA</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <aside><a class="shadow"><img src="/media/banner-1.jpg" alt></a><a><img src="/media/banner-2.jpg" alt></a><a><img src="/media/banner-3.jpg" alt class="shadow"><span>Подарочный сертификат</span></a></aside>
        </div>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>

static/source/jade/html/pages/fullsport__bag-list.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.list-content
        ul.slider.shadow
            li
                a(href = "#")
                    img(src="/media/slider-1.jpg" alt)
            li
                a(href = "#")
                    img(src="/media/slider-2.jpg" alt)
            li
                a(href = "#")
                    img(src="/media/slider-3.jpg" alt)

        h3 О bag

        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        .list.justifyed
            .width--two-thirds
                ul.product-list
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-1.jpg" alt)
                            span Collection 1
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-2.jpg" alt)
                            span Collection 2
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-3.jpg" alt)
                            span Collection 3
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-4.jpg" alt)
                            span Collection 4
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-5.jpg" alt)
                            span Collection 5
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-6.jpg" alt)
                            span Collection 6
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-7.jpg" alt)
                            span Collection 7
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-8.jpg" alt)
                            span Ремешки
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-9.jpg" alt)
                            span Циферблаты
                ul.product-list
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-1.jpg" alt)
                            span Collection 1
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-2.jpg" alt)
                            span Collection 2
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-3.jpg" alt)
                            span Collection 3
                    li.product-list__el

                h4 O`Bag
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h4 Философия FULLSPORT RUSSIA
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            aside
                a.shadow
                    img(src = '/media/banner-1.jpg' alt)

                a
                    img(src = '/media/banner-2.jpg' alt)

                a
                    img(src = '/media/banner-3.jpg' alt).shadow
                    span Подарочный сертификат
