static/source/jade/html/pages/fullsport__construct.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.construct-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Конструктор часов

        h3 Конструктор часов

        ul.carousel.product-list
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-1.jpg" alt)
                    span Collection 1
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-2.jpg" alt)
                    span Collection 2
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-3.jpg" alt)
                    span Collection 3
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-4.jpg" alt)
                    span Collection 4
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-5.jpg" alt)
                    span Collection 5
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-6.jpg" alt)
                    span Collection 6
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-7.jpg" alt)
                    span Collection 7
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-8.jpg" alt)
                    span Ремешки
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-9.jpg" alt)
                    span Циферблаты

        .constructor
            .constructor-img
                img(src="/media/dial-1.png").constructor-img-dial
                img(src="/media/bracelet-1.png").constructor-img-braclet
                .dial-next.arrow-next
                .dial-prev.arrow-prev
                .bracelet-next.arrow-next
                .bracelet-prev.arrow-prev

            .constructor-content
                form(action="/static/js/ajax/constructor.php" method="post").conscructor-form
                    input(type="hidden" name="dial_id" value="").input-dial
                    ul.constructor-content__dial
                        li(data-img="/media/dial-1.png" data-id="dial_01" data-name="Название циферблата 1").constructor-content__dial__el.active
                            img(src="/media/dial-1-s.jpg")
                        li(data-img="/media/dial-2.png" data-id="dial_02" data-name="Название циферблата 2").constructor-content__dial__el
                            img(src="/media/dial-2-s.jpg")
                        li(data-img="/media/dial-1.png" data-id="dial_03" data-name="Название циферблата 3").constructor-content__dial__el
                            img(src="/media/dial-1-s.jpg")
                        li(data-img="/media/dial-2.png" data-id="dial_04" data-name="Название циферблата 4").constructor-content__dial__el
                            img(src="/media/dial-2-s.jpg")

                    input(type="hidden" name="bracelet_id" value="").input-bracelet
                    ul.constructor-content__bracelet
                        li(data-img="/media/bracelet-1.png" data-id="bracelet_01" data-name="Название браслета 1").constructor-content__dial__el.active
                            img(src="/media/bracelet-1-s.jpg")
                        li(data-img="/media/bracelet-2.png" data-id="bracelet_02" data-name="Название браслета 2").constructor-content__dial__el
                            img(src="/media/bracelet-2-s.jpg")
                        li(data-img="/media/bracelet-1.png" data-id="bracelet_03" data-name="Название браслета 3").constructor-content__dial__el
                            img(src="/media/bracelet-1-s.jpg")
                        li(data-img="/media/bracelet-2.png" data-id="bracelet_04" data-name="Название браслета 4").constructor-content__dial__el
                            img(src="/media/bracelet-2-s.jpg")

                form(action="/static/js/ajax/add-basket.html" method="post").product-form
                    .constructor-info
                        .constructor-info-dial
                            input(type="hidden" name="dial_id" value="").input-dial
                            span.title Циферблат
                            span.value O'Clock / Giallo
                        .constructor-info-braclet
                            input(type="hidden" name="bracelet_id" value="").input-bracelet
                            span.title Ремешок
                            span.value O'Clock Cinturino/Blu Capri
                        .constructor-info-size
                            span.title Размер

                            div
                                label.xs
                                    input(type="radio" name="size" value="xs" disabled)
                                    span XS
                                label.s
                                    input(type="radio" name="size" value="s" checked)
                                    span S
                                label.m
                                    input(type="radio" name="size" value="m")
                                    span M
                                label.l
                                    input(type="radio" name="size" value="l")
                                    span L

                    .constructor-pay
                         a(href="").btn.js--product-add
                            | Купить за
                            i 1980
                            | рублей

                         span.product__info-purchase-discount Хотите скидку 3%?
                         a.product__info-purchade оставьте ваш телефон или e-mail

static/html/pages/fullsport__construct.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content construct-content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>Конструктор часов</span></li>
        </ul>
        <h3>Конструктор часов</h3>
        <ul class="carousel product-list">
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-1.jpg" alt></div><span>Collection 1</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-2.jpg" alt></div><span>Collection 2</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-3.jpg" alt></div><span>Collection 3</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-4.jpg" alt></div><span>Collection 4</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-5.jpg" alt></div><span>Collection 5</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-6.jpg" alt></div><span>Collection 6</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-7.jpg" alt></div><span>Collection 7</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-8.jpg" alt></div><span>Ремешки</span></a></li>
          <li class="product-list__el"><a>
              <div class="product-list__el-img shadow"><img src="/media/index-list-9.jpg" alt></div><span>Циферблаты</span></a></li>
        </ul>
        <div class="constructor">
          <div class="constructor-img"><img src="/media/dial-1.png" class="constructor-img-dial"><img src="/media/bracelet-1.png" class="constructor-img-braclet">
            <div class="dial-next arrow-next"></div>
            <div class="dial-prev arrow-prev"></div>
            <div class="bracelet-next arrow-next"></div>
            <div class="bracelet-prev arrow-prev"></div>
          </div>
          <div class="constructor-content">
            <form action="/static/js/ajax/constructor.php" method="post" class="conscructor-form">
              <input type="hidden" name="dial_id" value="" class="input-dial">
              <ul class="constructor-content__dial">
                <li data-img="/media/dial-1.png" data-id="dial_01" data-name="Название циферблата 1" class="constructor-content__dial__el active"><img src="/media/dial-1-s.jpg"></li>
                <li data-img="/media/dial-2.png" data-id="dial_02" data-name="Название циферблата 2" class="constructor-content__dial__el"><img src="/media/dial-2-s.jpg"></li>
                <li data-img="/media/dial-1.png" data-id="dial_03" data-name="Название циферблата 3" class="constructor-content__dial__el"><img src="/media/dial-1-s.jpg"></li>
                <li data-img="/media/dial-2.png" data-id="dial_04" data-name="Название циферблата 4" class="constructor-content__dial__el"><img src="/media/dial-2-s.jpg"></li>
              </ul>
              <input type="hidden" name="bracelet_id" value="" class="input-bracelet">
              <ul class="constructor-content__bracelet">
                <li data-img="/media/bracelet-1.png" data-id="bracelet_01" data-name="Название браслета 1" class="constructor-content__dial__el active"><img src="/media/bracelet-1-s.jpg"></li>
                <li data-img="/media/bracelet-2.png" data-id="bracelet_02" data-name="Название браслета 2" class="constructor-content__dial__el"><img src="/media/bracelet-2-s.jpg"></li>
                <li data-img="/media/bracelet-1.png" data-id="bracelet_03" data-name="Название браслета 3" class="constructor-content__dial__el"><img src="/media/bracelet-1-s.jpg"></li>
                <li data-img="/media/bracelet-2.png" data-id="bracelet_04" data-name="Название браслета 4" class="constructor-content__dial__el"><img src="/media/bracelet-2-s.jpg"></li>
              </ul>
            </form>
            <form action="/static/js/ajax/add-basket.html" method="post" class="product-form">
              <div class="constructor-info">
                <div class="constructor-info-dial">
                  <input type="hidden" name="dial_id" value="" class="input-dial"><span class="title">Циферблат</span><span class="value">O'Clock / Giallo</span>
                </div>
                <div class="constructor-info-braclet">
                  <input type="hidden" name="bracelet_id" value="" class="input-bracelet"><span class="title">Ремешок</span><span class="value">O'Clock Cinturino/Blu Capri</span>
                </div>
                <div class="constructor-info-size"><span class="title">Размер</span>
                  <div>
                    <label class="xs">
                      <input type="radio" name="size" value="xs" disabled><span>XS</span>
                    </label>
                    <label class="s">
                      <input type="radio" name="size" value="s" checked><span>S</span>
                    </label>
                    <label class="m">
                      <input type="radio" name="size" value="m"><span>M</span>
                    </label>
                    <label class="l">
                      <input type="radio" name="size" value="l"><span>L</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="constructor-pay"><a href="" class="btn js--product-add">Купить за<i>1980</i>рублей</a><span class="product__info-purchase-discount">Хотите скидку 3%?</span><a class="product__info-purchade">оставьте ваш телефон или e-mail</a></div>
            </form>
          </div>
        </div>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>
