static/source/jade/html/pages/fullsport__basket.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.basket-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Корзина

        h3 Корзина

        form.basket-wrap
            table(data-url="/static/js/ajax/change.php" data-method="post").basket
                tr.basket__line-caption.basket__line
                    th.basket__line-name
                            span Название
                    th.basket__line-article
                        span Артикул
                    th.basket__line-price
                            span Цена
                    th.basket__line-number
                            span Количество/Обновить
                    th.basket__line-total
                        span Итог
                tr.basket__line
                    td.basket__line-name
                        input(type="hidden" name="product_id" value="handler_01").basket-item
                        span Кисти шоколадные ЭКО-кожа
                    td.basket__line-article
                        span people-africa-1
                    td.basket__line-price
                        span 490 руб.
                    td.basket__line-number
                        input(type="text" name="product_amount" value="1").input_number
                        a.basket__line-refresh.js--amount-refresh
                        a.basket__line-delete.js--amount-delete
                    td.basket__line-total
                        span 490 руб.
                tr.basket__line
                    td.basket__line-name
                        input(type="hidden" name="product_id" value="handler_02").basket-item
                        span Кисти ванильные кожзам
                    td.basket__line-article
                        span people-africa-2
                    td.basket__line-price
                        span 1290 руб.
                    td.basket__line-number
                        input(type="text" name="product_amount" value="2").input_number
                        a.basket__line-refresh.js--amount-refresh
                        a.basket__line-delete.js--amount-delete
                    td.basket__line-total
                        span 2580 руб.
                tr.basket__line.table-sub-total
                    td(colspan="4").basket__line-name
                        span Промежуточный итог:
                    td.basket__line-total
                        span 3580 руб.
                tr.basket__line.basket__discount
                    td(colspan="3").basket__discount-input
                        span Если у вас есть код купона, пожалуйста, введите его ниже
                        input(type="text" name="discount" value="")
                        a(href="" placeholder="Начните ввод..").basket__discount-input-send.btn Отправить
                    td.basket__discount-text
                        span Скидка:
                    td.basket__line-total
                        span 0 руб.
                tr.basket__line.basket__total
                    td(colspan="3").table__total-link
                        a(href="").basket__total-back << Вернуться к покупкам
                    td.basket__total-text
                        span Итого:
                    td.basket__total-total
                        span 3580 руб.

            .basket__send
                a.btn.basket__send-link Оформить заказ

        p.basket-empty-text.hidden-block Ваша корзина пуста. Вернитесь на главную страницу или перейдите в каталог для совершения покупок

static/html/pages/fullsport__basket.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content basket-content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>Корзина</span></li>
        </ul>
        <h3>Корзина</h3>
        <form class="basket-wrap">
          <table data-url="/static/js/ajax/change.php" data-method="post" class="basket">
            <tr class="basket__line-caption basket__line">
              <th class="basket__line-name"><span>Название</span></th>
              <th class="basket__line-article"><span>Артикул</span></th>
              <th class="basket__line-price"><span>Цена</span></th>
              <th class="basket__line-number"><span>Количество/Обновить</span></th>
              <th class="basket__line-total"><span>Итог</span></th>
            </tr>
            <tr class="basket__line">
              <td class="basket__line-name">
                <input type="hidden" name="product_id" value="handler_01" class="basket-item"><span>Кисти шоколадные ЭКО-кожа</span>
              </td>
              <td class="basket__line-article"><span>people-africa-1</span></td>
              <td class="basket__line-price"><span>490 руб.</span></td>
              <td class="basket__line-number">
                <input type="text" name="product_amount" value="1" class="input_number"><a class="basket__line-refresh js--amount-refresh"></a><a class="basket__line-delete js--amount-delete"></a>
              </td>
              <td class="basket__line-total"><span>490 руб.</span></td>
            </tr>
            <tr class="basket__line">
              <td class="basket__line-name">
                <input type="hidden" name="product_id" value="handler_02" class="basket-item"><span>Кисти ванильные кожзам</span>
              </td>
              <td class="basket__line-article"><span>people-africa-2</span></td>
              <td class="basket__line-price"><span>1290 руб.</span></td>
              <td class="basket__line-number">
                <input type="text" name="product_amount" value="2" class="input_number"><a class="basket__line-refresh js--amount-refresh"></a><a class="basket__line-delete js--amount-delete"></a>
              </td>
              <td class="basket__line-total"><span>2580 руб.</span></td>
            </tr>
            <tr class="basket__line table-sub-total">
              <td colspan="4" class="basket__line-name"><span>Промежуточный итог:</span></td>
              <td class="basket__line-total"><span>3580 руб.</span></td>
            </tr>
            <tr class="basket__line basket__discount">
              <td colspan="3" class="basket__discount-input"><span>Если у вас есть код купона, пожалуйста, введите его ниже</span>
                <input type="text" name="discount" value=""><a href="" placeholder="Начните ввод.." class="basket__discount-input-send btn">Отправить</a>
              </td>
              <td class="basket__discount-text"><span>Скидка:</span></td>
              <td class="basket__line-total"><span>0 руб.</span></td>
            </tr>
            <tr class="basket__line basket__total">
              <td colspan="3" class="table__total-link"><a href="" class="basket__total-back"><< Вернуться к покупкам</a></td>
              <td class="basket__total-text"><span>Итого:</span></td>
              <td class="basket__total-total"><span>3580 руб.</span></td>
            </tr>
          </table>
          <div class="basket__send"><a class="btn basket__send-link">Оформить заказ</a></div>
        </form>
        <p class="basket-empty-text hidden-block">Ваша корзина пуста. Вернитесь на главную страницу или перейдите в каталог для совершения покупок</p>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>
