static/source/jade/html/pages/fullsport__contacts.jade
block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.contacts-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Контакты

        h3 Контакты

        .justifyed
            .contacts
                .contacts-block
                    h2  Адрес
                    p
                        span Москва,
                        span улица Нагатинская 16, ТЦ "Конфетти"
                    p
                        span Телефон:
                        a("tel:84955181966").contacts-tel +7 (495) 518 1966
                    p
                        span E-mail:
                            a("mailto:ruslan.hodov@gmail.com").contacts-mail ruslan.hodov@gmail.com

                .contacts-block
                    h2 Информация
                    p
                        span По вопросам гарантийного обслуживания обращайтесь по адресу
                        a("mailto:info@fullspot-russia.ru").contacts-garant info@fullspot-russia.ru
                        span По вопросам сотрудничества и оптовых закупок воспользуйтесь формой обратной связи.
                    p
                        span Корпоративным клиентам:
                        span Компания Fullspot готова изготовить часы для юр. лиц с нанесением логотипа вашей компании на циферблат.
                    p
                        span - ООО "Аввенире"
                        span - юр.адрес 119530, г. Москва, Очаковское шоссе, д. 34, помещение IX - комната 23
                        span - фак.адрес 115533, г. Москва, улица Нагатинская 16, ТЦ "Конфетти"
                        span - ОГРН: 1137746294146

            .feedback
                form(action="/static/js/ajax/send-form.php" method="post").mail-form
                    h2 Обратная связь
                    label
                        span Ваше имя
                        input(type="text" name="name" placeholder="Начните ввод...").form-input.required
                    label
                        span E-mail
                        input(type="text" name="mail" placeholder="Начните ввод...").form-input.required.input-mail
                    label
                        span Тема сообщения
                        input(type="text" name="theme" placeholder="Начните ввод...").form-input.required
                    label
                        span Cообщения
                        textarea(name="post" placeholder="Начните ввод...").form-input.required
                    a.btn.js-form-submit Отправить

        div(id="map").map
        script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

static/html/pages/fullsport__contacts.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>fullsport</title><link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/social-likes.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header justifyed"><a class="header__logo"><span>Сумки, часы, очки-трансформеры из Италии</span></a>
        <div class="header__content">
          <div class="header__links"><a class="header__links-link">О нас</a><a class="header__links-link">Доставка по России</a><a href="login.html" class="fancybox.ajax fancybox header__links-name">Вход</a>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
          <div class="header__content-bottom justifyed"><a class="header__logo-mobile"></a>
            <div class="header__button-wrap"><a class="header__menu-mobile js--show-nav">Меню</a>
              <div class="header__basket basket-empty"><span class="header__basket-text js--show-basket-popup">В корзине<i>0</i></span>
                <div class="header__basket__popup popup-empty"><span>Ваша корзина пуста</span></div>
                <div class="header__basket__popup popup-full"></div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:84955181966" class="header__contacts-phone">+7 495 518 1966</a><a href="popup-call.html" class="fancybox.ajax header__contacts-popup fancybox">Обратный звонок</a></div>
          </div>
        </div>
      </header>
      <nav>
        <ul class="main-nav">
          <li><a href="">О bag</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
          <li><a href="">О pocket</a></li>
          <li><a href="">О bag basket</a></li>
          <li><a href="">О folder</a></li>
          <li><a href="">Часы</a></li>
          <li><a href="">Браслеты</a></li>
          <li><a href="">Очки</a></li>
          <li><a href="">Showroom</a>
            <ul class="hidden-menu">
              <li class="hidden-menu__el"><a>О bag|Корпуса</a></li>
              <li class="hidden-menu__el"><a>О bag|Вкладки</a></li>
              <li class="hidden-menu__el"><a>О bag|Манжеты</a></li>
              <li class="hidden-menu__el"><a>О bag + О bag mini|Ручки</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <section class="page-content contacts-content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__el"><a>Главная</a></li>
          <li class="breadcrumbs__el"><span>Контакты</span></li>
        </ul>
        <h3>Контакты</h3>
        <div class="justifyed">
          <div class="contacts">
            <div class="contacts-block">
              <h2> Адрес</h2>
              <p><span>Москва,</span><span>улица Нагатинская 16, ТЦ "Конфетти"</span></p>
              <p><span>Телефон:</span><a tel:84955181966 class="contacts-tel">+7 (495) 518 1966</a></p>
              <p><span>E-mail:<a mailto:ruslan.hodov@gmail.com class="contacts-mail">ruslan.hodov@gmail.com</a></span></p>
            </div>
            <div class="contacts-block">
              <h2>Информация</h2>
              <p><span>По вопросам гарантийного обслуживания обращайтесь по адресу</span><a mailto:info@fullspot-russia.ru class="contacts-garant">info@fullspot-russia.ru</a><span>По вопросам сотрудничества и оптовых закупок воспользуйтесь формой обратной связи.</span></p>
              <p><span>Корпоративным клиентам:</span><span>Компания Fullspot готова изготовить часы для юр. лиц с нанесением логотипа вашей компании на циферблат.</span></p>
              <p><span>- ООО "Аввенире"</span><span>- юр.адрес 119530, г. Москва, Очаковское шоссе, д. 34, помещение IX - комната 23</span><span>- фак.адрес 115533, г. Москва, улица Нагатинская 16, ТЦ "Конфетти"</span><span>- ОГРН: 1137746294146</span></p>
            </div>
          </div>
          <div class="feedback">
            <form action="/static/js/ajax/send-form.php" method="post" class="mail-form">
              <h2>Обратная связь</h2>
              <label><span>Ваше имя</span>
                <input type="text" name="name" placeholder="Начните ввод..." class="form-input required">
              </label>
              <label><span>E-mail</span>
                <input type="text" name="mail" placeholder="Начните ввод..." class="form-input required input-mail">
              </label>
              <label><span>Тема сообщения</span>
                <input type="text" name="theme" placeholder="Начните ввод..." class="form-input required">
              </label>
              <label><span>Cообщения</span>
                <textarea name="post" placeholder="Начните ввод..." class="form-input required"></textarea>
              </label><a class="btn js-form-submit">Отправить</a>
            </form>
          </div>
        </div>
        <div id="map" class="map"></div>
        <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
      </section>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="page-content">
        <div class="footer__left-block">
          <ul class="footer__pay">
            <li><img src="/static/img/pay-card.jpg" alt></li>
            <li><img src="/static/img/pay-robo.jpg" alt></li>
            <li><img src="/static/img/pay-wm.jpg" alt></li>
            <li><img src="/static/img/pay-qiwi.jpg" alt></li>
          </ul>
          <div class="footer__social"><span>Мы в социальных сетях</span>
            <ul class="social">
              <li class="social-fb"><a href="#"><img src="/static/img/social-fb.png"></a></li>
              <li class="social-vk"><a href="#"><img src="/static/img/social-vk.png"></a></li>
              <li class="social-gl"><a href="#"><img src="/static/img/social-gl.png"></a></li>
              <li class="social-ml"><a href="#"><img src="/static/img/social-ml.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__links"><a>Новости</a><a>Контакты</a></div>
        <div class="footer__right-block"><a href="tel:84955181966" class="footer__phone">+7 495 518 1966</a><span>Fullspot online Russia</span><span>© Copyright 2015</span><span>Разработка<a href="http://reefstudio.ru/">reefstudio</a></span></div>
      </div>
    </footer>
  </body>
</html>
