static/html/pages/popup-call.html

<div class="popup-block">
  <h2>Заказать обратный звонок</h2>
  <form action="/static/js/ajax/send-form.php" method="post" class="mail-form">
    <label><span>Ваше имя</span>
      <input placeholder="Начните ввод..." name="name" type="text" class="form-input required"/>
    </label>
    <label><span>Контактный телефон</span>
      <input placeholder="Начните ввод..." name="phone" type="text" class="form-input required input-phone"/>
    </label><a class="btn js-form-submit">Отправить</a>
  </form>
</div>

static/source/jade/html/pages/popup-call.jade
.popup-block
    h2 Заказать обратный звонок

    form(action = "/static/js/ajax/send-form.php" method = "post").mail-form
        label
            span Ваше имя
            input(placeholder = "Начните ввод..." name = "name" type = "text").form-input.required
        label
            span Контактный телефон
            input(placeholder = "Начните ввод..." name = "phone" type = "text").form-input.required.input-phone
        a.btn.js-form-submit Отправить
