static/html/index.html

<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>DEV</title>
    <!--choose theme http://www.bootstrapcdn.com/#bootswatch_tab-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css"/>
    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Верстка по макетам</h1>
      </div>
      <div class="list-group">
        <div class="list-group-item active">Pages</div><a href="/static/html/pages/fullsport__index.html" class="list-group-item">
          <h4>Главная</h4></a><a href="/static/html/pages/fullsport__product-handlers.html" class="list-group-item">
          <h4>Отдельный товар ручки</h4></a><a href="/static/html/pages/fullsport__product-bag.html" class="list-group-item">
          <h4>Отдельный товар подкладка</h4></a><a href="/static/html/pages/fullsport__construct.html" class="list-group-item">
          <h4>Конструктор товара</h4></a><a href="/static/html/pages/fullsport__basket.html" class="list-group-item">
          <h4>Корзина</h4></a><a href="/static/html/pages/fullsport__bag-list.html" class="list-group-item">
          <h4>Список сумок</h4></a><a href="/static/html/pages/fullsport__showroom.html" class="list-group-item">
          <h4>Showroom</h4></a><a href="/static/html/pages/fullsport__contacts.html" class="list-group-item">
          <h4>Контакты</h4></a><a href="/static/html/pages/fullsport__news.html" class="list-group-item">
          <h4>Новости</h4></a><a href="/static/html/pages/fullsport__news-post.html" class="list-group-item">
          <h4>Новость</h4></a><a href="/static/html/pages/fullsport__about.html" class="list-group-item">
          <h4>О нас</h4></a><a href="/static/html/pages/fullsport__delivery.html" class="list-group-item">
          <h4>Доставка</h4></a><a href="/static/html/pages/fullsport__delivery-ok.html" class="list-group-item">
          <h4>После оформления</h4></a><a href="/static/html/pages/fullsport__registration.html" class="list-group-item">
          <h4>Регистрация</h4></a><a href="/static/html/pages/fullsport__sertificate.html" class="list-group-item">
          <h4>Сертификат</h4></a><a href="/static/html/pages/fullsport__has-registration.html" class="list-group-item">
          <h4>Уже зарегистрирован</h4></a>
      </div>
    </div>
  </body>
</html>

static/source/jade/html/index.jade
block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages
            a.list-group-item(href="/static/html/pages/fullsport__index.html")
                h4 Главная
            a.list-group-item(href="/static/html/pages/fullsport__product-handlers.html")
                h4 Отдельный товар ручки
            a.list-group-item(href="/static/html/pages/fullsport__product-bag.html")
                h4 Отдельный товар подкладка
            a.list-group-item(href="/static/html/pages/fullsport__construct.html")
                h4 Конструктор товара
            a.list-group-item(href="/static/html/pages/fullsport__basket.html")
                h4 Корзина
            a.list-group-item(href="/static/html/pages/fullsport__bag-list.html")
                h4 Список сумок
            a.list-group-item(href="/static/html/pages/fullsport__showroom.html")
                h4 Showroom
            a.list-group-item(href="/static/html/pages/fullsport__contacts.html")
                h4 Контакты
            a.list-group-item(href="/static/html/pages/fullsport__news.html")
                h4 Новости
            a.list-group-item(href="/static/html/pages/fullsport__news-post.html")
                h4 Новость
            a.list-group-item(href="/static/html/pages/fullsport__about.html")
                h4 О нас
            a.list-group-item(href="/static/html/pages/fullsport__delivery.html")
                h4 Доставка
            a.list-group-item(href="/static/html/pages/fullsport__delivery-ok.html")
                h4 После оформления
            a.list-group-item(href="/static/html/pages/fullsport__registration.html")
                h4 Регистрация
            a.list-group-item(href="/static/html/pages/fullsport__sertificate.html")
                h4 Сертификат
            a.list-group-item(href="/static/html/pages/fullsport__has-registration.html")
                h4 Уже зарегистрирован


        //- h3 UI kit
        //-     .list-group
        //-         a.list-group-item(href="/static/html/ui/preloader/preloader.html")
        //-             h4 Индикатор загрузки
